APP_NAME=Urban Tree 5.0

#* Database

MARIADB_DB=microservice
# If user is root, both PASS and ROOT_PASS should be the same
MARIADB_USER=root
MARIADB_PASSWORD=microservice
MARIADB_SERVER=database
MARIADB_PORT=3306

#* API Tokens
MAPBOX_TOKEN=pk.

#* Sentry
SENTRY_DSN_API=https://{PUBLIC_KEY}@{HOST}.ingest.de.sentry.io/{PROJECT_ID}
SENTRY_DSN_APP=https://{PUBLIC_KEY}@{HOST}.ingest.de.sentry.io/{PROJECT_ID}